* {
  font-family: "Arial Rounded MT"
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeBox {
  position: absolute;
  background-color: white;
  margin: 0 auto;
  padding: 20vh;
  padding-top: 30vh;
  padding-bottom: 40vh;
  font-size: 200%;
  text-align: center;
  user-select: none;
}

.endingBox {
  position: absolute;
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 20vh;
  padding-top: 30vh;
  padding-bottom: 35vh;
  font-size: 200%;
  text-align: center;
  user-select: none;
}

#continue {
  font-size: 88%;
  margin-top: 2vh;
}

.dark {
  background-color: black;
}

.hidden {
  display: none;
}

#next {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

p {
  margin: 0.5vh
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2vh;
  align-items: center;
  width: 468px;
  height: 48px;
}

#points {
  font-size:165%;
  padding-top: 5vh;
}

.colored {
  color: #ff6666;
}

#preview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  background-color: rgb(240, 240, 240);
  width: 138px;
  height: 48px;
}

#main {
  width: 468px;
  height: 468px;
  margin: 0 auto;
  border: 1px solid black;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
  float: left;
  text-align: center;
  line-height: 50px;
  user-select: none;
}

.ball {
  width: 38px;
  height: 38px;
  border: 2px solid black;
  border-radius: 50%;
  user-select: none;
}

.ballClicked {
  width: 42px;
  height: 42px;
}

.red {
  background-color: #ff6666;
}

.orange {
  background-color: #ffa866;
}

.yellow {
  background-color: #fffc66;
}

.green {
  background-color: #66ff66;
}

.blue {
  background-color: #66bfff;
}

.purple {
  background-color: #b366ff;
}

.black {
  background-color: black;
}

.path {
  background-color: lightgreen;
}
